.form {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.form > div {
    padding: 15px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    gap: 15px;
}

input {
    border: 1px solid gray;
    border-radius: 3px;
    width: 100%;
    padding: 5px;
}

form select {
    width: 100%;
    padding: 5px;
}

.cadastro-img {
    width: 150px;
    align-self: center;
    border-radius: 50%;
}

input[type="file"] {
    display: none;
  }

  