.Habilidades {
    display: flex;
    box-sizing: border-box;
    width: 50%;
    flex-direction: column;
}

.titulo {
    color: #142c41;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 2% 0;
    width: 100%;
}

.metade {
    gap: 5%;
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
}

.smallfont {
    font-family: 'Josefin Sans', sans-serif;
    color: #51718a;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: center;
}
.font {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(83, 83, 83);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5;
    text-align: justify;
}

.image-projetos {
    display: flex;
    height: 100%;
}

.button {
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #142c41;
    transition: color 0.3s;
    padding: 2% 0;
}

.button:hover {
    color: #51718a;
}

.article-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.image-projects {
    height: 100%;
}
