#container {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

#Lorena {
    color: #142c41;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-size: 3rem;
}

#home-section {
    padding: 10%;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

#second-section {
    background-color: #ebebeb;
    padding: 10%;
    display: flex;
    flex-direction: column;
    /* align-items:flex-start; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#third-section {
    padding: 10%;
    gap: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

footer {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
}

#footer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 2%;
}

#fourth-section {
    background-color: #ebebeb;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#github {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-image: url("https://i.postimg.cc/TwyH766C/IMG-1558.png");
    background-size: cover;
    transition: background-image 0.3s;
}

#github:hover {
    background-image: url("https://i.postimg.cc/02gX5FYJ/IMG/1557.png");
}

#icons {  
    display: flex;
    /* align-self: flex-end; */
    align-items: flex-end;
    height: 10%;
}

#icon-image {
    height: 50px;
    margin: 0 5px;
}

#pacman {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50%;
    width: 100%;
}

#iot {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50%;
    width: 100%;
}

.article-projects {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 77%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

#pacman-aside-projects {
    width: 23%;
    height: 100%;

    justify-content: right;
}

#iot-aside-projects {
    width: 23%;
    height: 100%;

    justify-content: left;
}


.image-projects {
    height: 100%;
}

input {
    border: 2px solid #51718a;
    border-radius: 3px;
    padding: 1%;
    margin: 1% 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 30px;
}

textarea {
    border: 2px solid #51718a;
    border-radius: 3px;
    padding: 1%;
    margin: 1% 0;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    resize: vertical;
    word-wrap: break-word;
  }