@media (min-width: 1024px) and (max-width: 1500px) {
    .font {
        font-size: 1.2rem;
    }
    .titulo {
        font-size: 2rem;
    }
    #Lorena {
        font-size: 2.5rem;
    }
    #container {
        width: 300px;
        height: 300px;
    }
    .button {
        font-size: 1.3rem;
    }
    nav a {
        font-size: 1.4rem;
    }
    #icon-image {
        height: 40px;
    }
    .smallfont {
        font-size: 1rem;
    }
    nav ul {
        gap: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .font {
        font-size: 0.8rem;
    }
    .titulo {
        font-size: 1.5rem;
    }
    #Lorena {
        font-size: 2rem;
    }
    #container {
        width: 200px;
        height: 200px;
    }
    .button {
        font-size: 0.9rem;
    }
    nav a {
        font-size: 1.2rem;
    }
    #icon-image {
        height: 35px;
    }
    .smallfont {
        font-size: 0.8rem;
    }
    nav ul {
        gap: 30px;
    }
    #pacman {
        height: 40%;
    }
    #iot {
        height: 40%;
    }
    input, textarea {
        font-size: 0.8rem;
    }
    textarea {
        height: 140px;
    }
}

@media (max-width: 767px) {
    .font {
        font-size: 0.8rem;
    }
    #home-section {
        flex-flow: column-reverse;
        gap: 5%;
    }
    .titulo {
        font-size: 1.5rem;
    }
    #Lorena {
        font-size: 2rem;
    }
    #container {
        width: 200px;
        height: 200px;
    }
    article {
        width: 100%;
    }
    .button {
        font-size: 0.8rem;
    }
    nav a {
        font-size: 1rem;
    }
    #icon-image {
        height: 35px;
    }
    .smallfont {
        font-size: 0.7rem;
    }
    nav ul {
        gap: 10px;
    }
    .image-projects {
        width: 100%;
        height: max-content;
    }
    .article-projects {
        justify-content: start;
        height: auto;
    }
    #pacman-aside-projects {
        height: auto;
    }
    #iot-aside-projects {
        height: auto;
    }
    #pacman {
        flex-direction: column-reverse;
        justify-content: start;
    }
    aside {
        height: fit-content;
    }
    #iot {
        flex-direction: column;
        justify-content: end;
    }
    input, textarea {
        font-size: 0.7rem;
    }
    #third-section {
        height: 200vh;
        justify-content: space-between;
    }
    #fourth-section .Habilidades {
        width: 70%;
    }
    #footer {
        width: 60px;
        height: 60px;
    }
    .right {
        text-align: left;
    }
}


@media (max-width: 600px) {
    #third-section {
        height: 170vh;
    }
}

@media (max-width: 480px) {
    #container {
        width: 150px;
        height: 150px;
    }
}