* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white
}

#inicial {
    background-color: rgb(228, 232, 236);
    height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 70px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5%;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    color: #142c41;
}

nav a:hover {
    color: #51718a;
}

article {
    width: 60%;
}

aside {
    display: flex;
    width: fit-content;
}

div {
    display: flex;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.habilidades {
    display: flex;
    box-sizing: border-box;
    width: 50%;
}

.titulo {
    color: #142c41;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-size: 2.5rem;
    justify-content: center;
    text-align: center;
    margin: 5%;
    width: 100%;
}

.metade {
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container {
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}

#Lorena {
    color: #142c41;
    font-family: 'Source Serif 4', serif;
    font-weight: 700;
    font-size: 3rem;
}

#sobre {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(83, 83, 83);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: justify;
}

.font {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(83, 83, 83);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.5rem;
    text-align: justify;
}

#home-section {
    padding: 10%;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

#second-section {
    background-color: #ebebeb;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#third-section {
    padding: 10%;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#fourth-section {
    background-color: #ebebeb;
    padding: 10%;
    gap: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#github {
    height: 45px;
}