* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

header div {
    display: flex;
    justify-content: space-between;
}

nav a  {
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
}

footer > div {
    background-color: #595959;
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.carousel{
    margin-top: 5%;
    margin-bottom: 10%;
}

header {
    width: 100%;
}

header > div {
    
}