* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    background-color: #51718a;
    color: white;

    display: flex;
    flex-direction: column;
    padding: 1%;
    position:fixed;
    width: 100%;
}

ul {
    background-color: rgb(229, 231, 238);
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav a {
    padding: 5px;
    text-decoration: none;
    font-weight:bolder;
    font-size: 95%;
    font-family: 'Rubik', sans-serif;
    color: #51718a; /* Adicione a cor desejada para os links */
}